[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = my-kafka.kafka.svc.cluster.local
DNS.2 = my-kafka.kafka.svc
DNS.3 = *.my-kafka-controller-headless.kafka.svc.cluster.local
DNS.4 = *.my-kafka-controller-headless.kafka.svc
DNS.5 = *.my-kafka-broker-headless.kafka.svc.cluster.local
DNS.6 = *.my-kafka-broker-headless.kafka.svc
